body, html{
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: mainfont, Arial;
    scroll-behavior: smooth;
    cursor: url("../images/text-cursor.webp") 12 12, text;
    animation: 2s scrollbar_hidden forwards;  
}
@keyframes scrollbar_hidden {
    0%{
        overflow: hidden;
    }
    99%{
        overflow: hidden;
    }
    100%{
        overflow: auto;
    }
}


@font-face {
    font-family: mainfont;
    src: url("../font/AdventPro_Expanded-Regular.ttf");
}

.section0{
    height: 100%;
    width: 100%;
    opacity: 1;
    background-image: linear-gradient(
        45deg,
        #988677,
        #584738,
        #716056
    );
    animation: 2s screen_loading 3S forwards;
    position: absolute;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: brightness(80%);
}

@keyframes screen_loading {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        z-index: -1;
        }
}

.sec0{
    width: 15%;
    animation: 5s img_loading -1s linear forwards;
}

@keyframes img_loading {
    0%{
        transform: rotate(0);
    }
    25%{
        transform: rotate(90deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.sec0_arrow{
    position: fixed;
    top: 85%;
    right: 1%;
    transform: rotate(-90deg);
    z-index: 2;
}
.sec0_arrow:hover{
    filter: drop-shadow(0 0 0.45rem #988677);
}
.sec0_arrow2{
    position: fixed;
    top: 75%;
    right: 1%;
    transform: rotate(90deg);
    z-index: 2;
}
.sec0_arrow2:hover{
    filter: drop-shadow(0 0 0.45rem #988677);
}

::selection{
    color: beige;
    background-color: #5847388e;
}
::-moz-selection{
    color: beige;
    background-color: #5847388e;
}

::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-track{
    background-color: #584738;
}
::-webkit-scrollbar-thumb{
    background-color: #988677;
    border-radius: 10px;
}