
.section1{
    height: 100%;
    width: 100%;
}
.back{
    height: 100%;
    width: 100%;
    background: url("../images/background_mauntain1.webp");
    background-repeat: no-repeat;
    background-size: cover;
}
.head{
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    backdrop-filter: brightness(60%);
}
.emblem{
    height: 20vh;
    width: 10vh;
    color: white;
    margin: 0;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.sec1_im1{
    height: 40%;
    width: 80%;
}
.text{
    height: 15vh;
    width: 45%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-left: 20%;
    color: white;
}
.text1{
    margin: 0;
    color: white;
    text-decoration: none;
    transition: 500ms;
}
.text1:hover{
    color: #988677;
}
.text2{
    margin: 0;
    font-size: 55px;
}
.text3{
    margin: 0;
    font-size: 30px;
}
.text4{
    margin: 0;
    font-size: 15px;
}
.main{
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: brightness(60%);
}
.center{
    color: white;
    text-align: center;
    height: 40%;
    width: 35%;
}
.slider{
    height: 100%;
    width: 100%;
    display: flex;
    overflow: hidden;
}
.slide{
    height: 100%;
    width: 100%;
}
.button{
    height: 17%;
    width: 22%;
    background-color: #988677;
    border: 0;
    border-bottom: 2px solid rgb(113, 96, 86);
    border-radius: 5%;
    color: white;
    font-size: 10px;
}
.button:hover{
    background-color: rgb(113, 96, 86);
    border-bottom: 2px solid #3c3530;
    transition: 500ms;
}

.left_arrow{
    color: white;
    font-size: 90px;
    margin: 70px;
}
.left_arrow:hover{
    color: #988677;
    transition: 500ms;
}
.right_arrow{
    color: white;
    font-size: 90px;
    margin: 70px;
}
.right_arrow:hover{
    color: #988677;
    transition: 500ms;
}
.image{
    height: 7%;
    width: 40%;
    margin-left: 60%;
}
.image:hover{
    height: 10%;
    width: 50%;
    transition: 500ms;
}
.image1{
    width: 50%;
}
.image1:hover{
    width: 60%;
    transition: 500ms;
}