.section6{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sec6_text{
    height: 25%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    color: rgb(84, 83, 80);
}
.sec6_t1{
    margin: 2% 0 0 0;
}
.sec6_blocks{
    margin-top: 1%;
    height: 65%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
}
.sec6_block{
    height: 80%;
    width: 17%;
    position: relative;
}
.sec6_block:hover .sec6_im{
    filter: brightness(60%);
}
.sec6_block:hover .sec6_t{
    background-color: rgb(55 46 45);

}
.sec6_block:hover .sec6_t3{
    color: beige;
}
.sec6_t2{
    color: rgb(113, 96, 86);
}
.sec6_im{
    width: 100%;
    height: 60%;
    display: block;
}
.sec6_t{
    color: rgb(84, 83, 80);
    transition: 500ms;
}
.sec6_t2{
    margin: 0;
    transition: 500ms;
}


.sec6_calendar{
    position: absolute;
    z-index: 1;
    width: 15%;
    height: 15%;
    border-radius: 15%;
    top: 5px;
    left: 5px;
}
.sec6_num{
    background-color: #393939;
    color: white;
    text-align: center;
    width: 100%;
    height: 60%;
    font-size: 25px;
    transition: 500ms;
}

.sec6_block:hover .sec6_num{
    background-color: rgb(198 178 160);
}
.sec6_mon{
    background-color: #262724;
    color: white;
    text-align: center;
    width: 100%;
    height: 40%;
    font-size: 10px;
    transition: 500ms;
}

.sec6_block:hover .sec6_mon{
    background-color: rgb(162 143 117);
}