.section3{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sec3_h{
    height: 20%;
    width: 50%;
    text-align: center;
}
.sec3_t1{
    margin-top: 0;
    color: rgb(148, 146, 139);
}
.sec3_t1_1{
    margin-top: 0;
    color: rgb(84, 83, 80);
}

.buttons{
    height: 20%;
    width: 100%;
}
.sec3_b2{
    background-color: white;
    border-radius: 10%;
    border: 0.5px solid #c4bbb4;
    color: rgb(148, 146, 139);
    padding-left: 1%;
    padding-right: 1%;
    transition: 500ms;
}
.sec3_b2:hover{
    background-color: #988677;
    color: beige;
}
.sec3_m{
    height: 70%;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.sec3_block{
    height: 40%;
    width: 30%;
    position: relative;
}
.sec3_block:hover .sec3_im{
    filter: brightness(60%);
}
.sec3_block:hover .sec3_im1{
    opacity: 1;
    z-index: 1;
}
.sec3_block:hover .sec3_im2{
    opacity: 1;
    z-index: 1;
}
.sec3_block:hover .sec3_t{
    background-color: rgb(113, 96, 86);
    color: beige;
}

.sec3_im{
    height: 70%;
    width: 100%;
    display: block; 
    transition: 500ms;
}
.sec3_im1{
    position: absolute;
    height: 20%;
    width: 20%;
    top: 25%;
    left: 50%;
    opacity: 0;
    transition: 500ms;
}
.sec3_im1:hover {
    content: url('images/sec3_im_ioupe.webp'); 
}

.sec3_im2{
    position: absolute;
    height: 20%;
    width: 20%;
    top: 25%;
    left: 25%;
    opacity: 0;
    transition: 500ms;
}

.sec3_im2:hover {
    content: url('images/sec3_im_link.webp'); 
}
.sec3_t{
    height: 30%;
    width: 100%;
    background-color: rgb(252 250 248);
    transition: 500ms;
}
.sec3_t2{
    margin: 0 0 0 3%;
    color: rgb(200 197 189);
}
.sec3_b1{
    height: 4%;
    width: 8%;
    background-color: #988677;
    border: 0;
    border-bottom: 2px solid rgb(113, 96, 86);
    border-radius: 5%;
    color: white;
    font-size: 10px;
    text-align: center;
    padding: 0.5%;
    box-sizing: border-box;
    transition: 500ms;
}
.sec3_b1:hover{
    background-color: rgb(113, 96, 86);
    border-bottom: 2px solid #3c3530;
}
