.section4{
    height: 60%;
    width: 100%;
    background-image: url("images/sec4_im.webp");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sec4_t{
    color: white;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backdrop-filter: brightness(60%);
}
.sec4_im{
    background-color: rgba(0, 0, 0, 0.478);
    border-radius: 50%;
    margin-bottom: 3%;
}
.sec4_im:hover{
    background-color:rgba(113, 96, 86, 0.682);
;
}
.sec4_t1{
    margin: 0;
}