
.section1{
    height: 100%;
    width: 100%;
    user-select: none;
}
.back{
    height: 100%;
    width: 100%;
    background: url("../images/background_mauntain1.webp");
    background-repeat: no-repeat;
    background-size: cover;
}
.head{
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    backdrop-filter: brightness(60%);
}
.emblem{
    height: 20vh;
    width: 10vh;
    color: white;
    margin: 0;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.sec1_im1{
    height: 40%;
    width: 80%;
}
.text{
    height: 15vh;
    width: 45%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-left: 20%;
    color: white;
}
.text1{
    margin: 0;
    color: white;
    text-decoration: none;
    transition: 500ms;
}
.text1:hover{
    color: #988677;
}
.text2{
    margin: 0;
    font-size: 55px;
}
.text3{
    margin: 0;
    font-size: 30px;
}
.text4{
    margin: 0;
    font-size: 15px;
}
.main{
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: brightness(60%);
}
.center{
    color: white;
    text-align: center;
    height: 40%;
    width: 35%;
}
.slider-wrap{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.slider{
    height: 100%;
    width: 500%;
    display:flex;
    animation: 5s slider linear infinite;
}
.slide{
    height: 100%;
    width: 20%;
}

@keyframes slider {
    20%{
        transform: translateX(-20%);
    }
    40%{
        transform: translateX(-20%);
    }
    60%{
        transform: translateX(-20%);
    }
    80%{
        transform: translateX(-20%);
    }
    100%{
        transform: translateX(-20%);
    }
}
.button{
    height: 17%;
    width: 22%;
    background-color: #988677;
    border: 0;
    border-bottom: 2px solid rgb(113, 96, 86);
    border-radius: 5%;
    color: white;
    font-size: 10px;
    margin-top: 5%;
}
.button:hover{
    background-color: rgb(113, 96, 86);
    border-bottom: 2px solid #3c3530;
    transition: 500ms;
}

.sec1_circle{
    margin-top: 10%;
    display: flex;
    justify-content: center;
}
.circle1{
    font-size: 20px;
    animation: circle1 25s infinite;
    margin: 3%;
}

@keyframes circle1 {
    0%{
        font-size: 20px;
    }
    10%{
        font-size: 20px;
    }
    15%{
        font-size: 15px;
    }
    100%{
        font-size: 15px;
    }
}

.circle2{
    font-size: 15px;
    animation: circle2 25s infinite;
    animation-delay: 5s;
    margin: 3%;
}

@keyframes circle2 {
    0%{
        font-size: 15px;
    }
    15%{
        font-size: 20px;
    }
    20%{
        font-size: 15px;
    }
    100%{
        font-size: 15px;
    }
}
.circle3{
    font-size: 15px;
    animation: circle3 25s infinite;
    animation-delay: 10s;
    margin: 3%;
}

@keyframes circle3 {
    0%{
        font-size: 15px;
    }
    15%{
        font-size: 20px;
    }
    20%{
        font-size: 15px;
    }
    100%{
        font-size: 15px;
    }
}
.circle4{
    font-size: 15px;
    animation: circle4 25s infinite;
    animation-delay: 15s;
    margin: 3%;
}

@keyframes circle4 {
    0%{
        font-size: 15px;
    }
    15%{
        font-size: 20px;
    }
    20%{
        font-size: 15px;
    }
    100%{
        font-size: 15px;
    }
}
.circle5{
    font-size: 15px;
    animation: circle5 25s infinite;
    animation-delay: 20s;
    margin: 3%;
}

@keyframes circle5 {
    0%{
        font-size: 15px;
    }
    15%{
        font-size: 20px;
    }
    20%{
        font-size: 15px;
    }
    100%{
        font-size: 15px;
    }
}

.left_arrow{
    color: white;
    font-size: 90px;
    margin: 70px;
}
.left_arrow:hover{
    color: #988677;
    transition: 500ms;
}
.right_arrow{
    color: white;
    font-size: 90px;
    margin: 70px;
}
.right_arrow:hover{
    color: #988677;
    transition: 500ms;
}
.image{
    height: 7%;
    width: 40%;
    margin-left: 60%;
}
.image:hover{
    height: 10%;
    width: 50%;
    transition: 500ms;
}
.image1{
    width: 50%;
}
.image1:hover{
    width: 60%;
    transition: 500ms;
}