.section6{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sec6_text{
    height: 25%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    color: rgb(84, 83, 80);
}
.sec6_t1{
    margin: 2% 0 0 0;
}
.sec6_blocks{
    margin-top: 1%;
    height: 65%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
}
.sec6_block{
    height: 75%;
    width: 17%;
    position: relative;
}
.sec6_im{
    width: 100%;
    height: 60%;
}
.sec6_t{
    color: rgb(84, 83, 80);
}
.sec6_arrow{
    color: #bdb39f;
    display: flex;
    margin: 0;
}
.sec6_calendar{
    position: absolute;
    width: 15%;
    height: 15%;
    border-radius: 15%;
    top: 5px;
    left: 5px;
}
.sec6_num{
    background-color: #393939;
    color: white;
    text-align: center;
    width: 100%;
    height: 60%;
    font-size: 25px;
}
.sec6_mon{
    background-color: #262724;
    color: white;
    text-align: center;
    width: 100%;
    height: 40%;
    font-size: 10px;
}