.section5{
    height: 90%;
    width: 100%;
}
.sec5_m{
    height: 70%;
    width: 100%;
    padding: 3% 3% 0 3%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}
.sec5_f{
    height: 30%;
    width: 100%;
    background-image: linear-gradient(
        90deg,
        rgb(35 29 26),
        rgb(78 50 39)
    );
}
.sec5_im{
    height: 100%;
    display: inline-block;
    vertical-align: top;
}
.sec5_text{
    height: 100%;
    width: 40%;
    display: inline-block;
    vertical-align: top;
}
.sec5_t_1{
    color: rgb(84, 83, 80);
}
.sec5_t{
    color: rgb(148, 146, 139);
    margin: 0;
}
.sec5_point{
    height: 10%;
    width: 40%;
}
