.section5{
    height: 90%;
    width: 100%;
}
.sec5_m{
    height: 70%;
    width: 100%;
    padding: 3% 3% 0 3%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}
.sec5_f{
    height: 30%;
    width: 100%;
    background-image: linear-gradient(
        90deg,
        rgb(35 29 26),
        rgb(78 50 39)
    );
    display: flex;
    justify-content: center;
}
.sec5_element1{
    height: 90%;
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sec5_im{
    height: 100%;
    display: inline-block;
    vertical-align: top;
}
.sec5_images{
    width: 20%;
    display: inline-block;
    vertical-align: center;
}
.sec5_text{
    height: 100%;
    width: 35%;
    display: inline-block;
    vertical-align: top;
}
.sec5_list{
    list-style-image: url("images/sec5_arrow.webp");
    margin-left: 5%;
    margin-top: 10%;
}
.sec5_point{
    width: 85%;
    margin: 0;
    color: rgb(148, 146, 139);
}
.sec5_t_1{
    color: rgb(84, 83, 80);
}
.sec5_t{
    color: rgb(148, 146, 139);
    margin: 0;
}
.sec5_img{
    margin-top: 15%;
    width: 20%;
}
.sec5_t2{
    margin: 0%;
    color: white;
}
.sec5_t3{
    margin: 0%;
    color: #bdb39f;
}
