.section7{
    width: 100%;
    height: 60%;
}
.sec7_m{
    width: 100%;
    height: 85%;
    background-image: url("/images/sec7_im1.webp");
    background-size: cover;
    background-repeat: no-repeat;
}
.sec7_images{
    width: 100%;
    height: 100%;
    backdrop-filter: brightness(60%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
}
.sec7_im{
    width: 10%;
}
.sec7_f{
    width: 100%;
    height: 15%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.sec7_t{
    width: 30%;
    color: lightgray;
    font-size: 10px;
}
.sec7_t2{
    width: 20%;
    color: white;
}