.section2{
    height: 60%;
    width: 100%;
}
.m2{
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.f2{
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    justify-content: space-around;
    background-image: linear-gradient(
        90deg,
        rgb(35 29 26),
        rgb(78 50 39)
    );
}
.blocks{
    height: 100%;
    width: 15%;
    padding: 3%;
    padding-top: 5%;
    box-sizing: border-box;
    text-align: center;
    position: relative;
}
.blocks:hover{
    color: #988677;
    margin: 0;
    opacity: 1;
    transition: 500ms;
}
.blocks:hover .sec2_im_pencil{
    opacity: 1;
    transition: 500ms;
}

.blocks:hover .sec2_im1{
    opacity: 0;
    transition: 500ms;
}
.sec2_im_pencil{
    position: absolute;
    left: 40%;
    top: 10%;
    width: 20%;
    opacity: 0;
}

.sec2_im1{
    width: 20%;
}

.sec2_t{
    font-size: 13px;
}
.sec2_b{
    height: 50%;
    width: 10%;
    background-color: #988677;
    border: 0;
    border-bottom: 2px solid rgb(113, 96, 86);
    border-radius: 5%;
    margin-right: 5%;
    color: white;
    font-size: 10px;
    transition: 500ms;
}
.sec2_b:hover{
    background-color: rgb(113, 96, 86);
    border-bottom: 2px solid #3c3530;
}
.sec2_t2{
    color: rgb(173 160 155);
    margin: 0;
}

.sec2_t3{
    color: rgb(253 247 245);
    margin: 0;
}
.sec2_text{
    margin: 0;
    color: rgb(85 74 73);
}