.section3{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sec3_h{
    height: 20%;
    width: 50%;
    text-align: center;
}
.sec3_t1{
    margin-top: 0;
    color: rgb(148, 146, 139);
}
.sec3_t1_1{
    margin-top: 0;
    color: rgb(84, 83, 80);
}

.buttons{
    height: 20%;
    width: 100%;
}
.sec3_b2{
    background-color: white;
    border-radius: 5%;
    border: 0.5px solid #c4bbb4;
    color: rgb(148, 146, 139);
    padding-left: 1%;
    padding-right: 1%;
}
.sec3_m{
    height: 70%;
    width: 55%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.sec3_block{
    height: 45%;
    width: 30%;
}
.sec3_im{
    height: 70%;
    width: 100%;
}
.sec3_t{
    height: 30%;
    width: 100%;
    background-color: rgb(252 250 248);
}
.sec3_t2{
    margin: 0 0 0 3%;
    color: rgb(200 197 189);
}
.sec3_b1{
    height: 4%;
    width: 8%;
    background-color: #988677;
    border: 0;
    border-bottom: 2px solid rgb(113, 96, 86);
    border-radius: 5%;
    color: white;
    font-size: 10px;
    text-align: center;
    padding: 0.5%;
    box-sizing: border-box;
}

