.section4{
    height: 60%;
    width: 100%;
    background-image: url("../images/sec4_im.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sec4_t{
    color: white;
    width: 60%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sec4_t1{
    margin: 0;
}
.sec4_time{
    background-color: rgba(53, 29, 8, 0.445);
    width: 5%;
    height: 10%;
}